{{>header}}
    <!-- Home -->
    <main>
            <div class="container">
            <div class="about-us">
                <div>
                    <img src="../public/shoes.jpg" alt="">
                    <img src="../public/shoes2.jpg" alt="">
                </div>
                <p>
                    <a href="/register">Register Now</a> and Try it!
                </p>
            </div>
        </div>

        <div class="shoes">
            {{!-- {{each elements}}
            {{>element}}
            {{/each}} --}}
        </div>


    {{!-- <div class="content">
        <section class="js">
            <h2>JavaScript</h2>
            <div class="articles">
                {{#each js}}
                    {{>element}}
                {{else}}
                    <!-- No articles message -->
                    <h3 class="no-articles">No articles yet</h3>
                {{/each}}
            </div>
        </section>
        <section class="CSharp">
            <h2>C#</h2>
            <div class="articles">
                {{#each csharp}}
                    {{>element}}
                {{else}}
                    <!-- No articles message -->
                    <h3 class="no-articles">No articles yet</h3>
                {{/each}}
            </div>
        </section>
        <section class="Java">
            <h2>Java</h2>
            <div class="articles">
                {{#each java}}
                    {{>element}}
                {{else}}
                    <!-- No articles message -->
                    <h3 class="no-articles">No articles yet</h3>
                {{/each}}
            </div>
        </section>
        <section class="Pyton">
            <h2>Pyton</h2>
            <div class="articles">
                {{#each python}}
                    {{>element}}
                {{else}}
                    <!-- No articles message -->
                    <h3 class="no-articles">No articles yet</h3>
                {{/each}}
            </div>
        </section>
    </div> --}}
</main>
{{>footer}}